.f-s-12 {
    font-size: 12px;
}
.p-t-4 {
    padding-top: 4px;
}
.p-b-4 {
    padding-bottom: 4px;
}
.bd-t {
    border-top: 1px solid #e1e6ef;
}
.bd-b {
    border-bottom: 1px solid #e1e6ef;
}
.m-t-25 {
    margin-top: 25px;
}
